<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Add A New User Tag</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form action="ModifyUser" method="post">
                {% csrf_token %}
            <input type="hidden" name="uid" id="uid" value= {{ uid }}>
            <button type="submit">Go Back To User's Tag List</button>
        </form>
       <form action="AddUTag" method="POST">
           {% csrf_token %}
           <p>{{ ErrorMessage }}</p>
            <input type="hidden" name="uid" id="uid" value= {{ uid }}>
            <input type="text" name="tag" id="tag" placeholder="Enter the new tag">
            <button type="submit">Submit</button>
       </form>
        
        <script src="" async defer></script>
    </body>
</html>