<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Locations</title>
</head>
<body>
    <p>{{error}}</p>
    <form action="home" method="post">
        {% csrf_token %}
        <button type="submit">Go Back To Menu</button>
    </form>
    <form action="SearchPage" method="post">
            {% csrf_token %}
            <input type="text" name="searchtag" id="searchtag" placeholder="Enter the location to search">
            <button type="submit">Search</button>
            <input type="hidden" name="tablename" id="tablename" value="loc_name">
    </form>
    <table>
        <tr>
            <th>Location Name</th>
            <th>Modify Location Tags</th>
        </tr>
        {% for row in locations %}
        <tr>
            <form action="ModifyLoc" method="post" >
                {% csrf_token %}
            <td>
               {{ row.locname }}
               <input type="hidden" name="locname" id="locname" value= {{ row.locname }}>
            </td>
            <td>    
                <button type="submit">Change Tags</button> 
            </td>
            </form>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
